
@layer page {
	html, body {
		min-height: 100%;
	}

	html {
		font-size: 18px;
		font-family: "Lora", serif;
		color: var(--text);
		background: var(--bg);
		text-shadow: var(--text-shadow);
	}

	body {
		width: 32em;
		max-width: 100%;
		margin: auto;
		padding: var(--pad);
		border-radius: 0 0 var(--round) var(--round);
	}

	app-main {
		display: block;

		[view~="page"] {
			display: block;
		}
	}

	footer {
		margin-bottom: 4em;
		hr { margin-bottom: var(--pad); }
		p { opacity: 0.5; }
		.version { opacity: 0.4; }
	}
}

