
@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scrollbar-width: thin;
		scrollbar-color: #333 transparent;
	}

	:root {
		color-scheme: dark;
	}

	::selection {
		color: var(--selection);
		background: var(--selection-bg);
		text-shadow: var(--shadow);
	}

	::-webkit-scrollbar { width: 8px; }
	::-webkit-scrollbar-track { background: transparent; }
	::-webkit-scrollbar-thumb { background: #333; border-radius: 1em; }
	::-webkit-scrollbar-thumb:hover { background: #444; }

	a {
		color: var(--link);
		text-decoration: none;

		&:visited {
			color: color-mix(in srgb, purple, var(--link) 70%);
		}

		&:hover {
			color: color-mix(in srgb, white, var(--link) 90%);
			text-decoration: underline;
		}

		&:active {
			color: color-mix(in srgb, white, var(--link) 50%);
		}
	}

	button {
		font: inherit;
		color: currentColor;
		cursor: default;
		padding: calc(var(--padding) / 2);
		border: 1px solid currentColor;
		background: transparent;
		user-select: none;

		&[data-vibe="cancel"] {
			color: #888;
		}

		&[disabled] {
			opacity: 0.2;
			text-decoration: line-through;
		}

		&:not([disabled]) {
			opacity: 0.8;
			cursor: pointer;

			&:is(:hover, :focus-visible) {
				opacity: 1;
			}
		}
	}

	label > span {
		user-select: none;
	}
}

