
@layer common {
	h1 {
		font-size: 2em;
		font-weight: bolder;
		color: var(--text-strong);
	}

	h2 {
		font-size: 1.5em;
		font-weight: lighter;
		color: var(--text);
	}

	hr {
		opacity: 0.5;
		border: none;
		width: 100%;
		height: 0.1em;
		background: var(--text);
	}

	[x-plate] {
		display: flex;
		flex-direction: column;
		gap: var(--space);
		padding: var(--space) 0;
	}

	[x-title] {
		display: flex;
		flex-direction: column;
		gap: var(--pad);
	}

	[x-appnav] {
		display: flex;
		justify-content: end;
		flex-wrap: wrap;
	}

	[x-nav] {
		user-select: none;
		cursor: default;
		text-align: right;
		margin-top: var(--space);
	}

	button {
		font: inherit;
		color: currentColor;
		cursor: default;
		background: transparent;
		user-select: none;

		padding: var(--pad);
		border: 1px solid currentColor;

		&[x-linky] {
			display: inline;
			border: none;
			padding: 0;
			margin: 0;
			line-height: inherit;
			text-decoration: underline;
			color: var(--alpha);
		}

		&[x-vibe~="naked"] {
			border: none;
		}

		&[x-vibe~="lame"] {
			color: var(--lame);
		}

		&[x-vibe~="happy"] {
			color: var(--happy);
		}

		&[x-vibe~="angry"] {
			color: var(--angry);
		}

		&[disabled] {
			opacity: 0.2;
			text-decoration: line-through;
		}

		&:not([disabled]) {
			opacity: 0.8;
			cursor: pointer;

			&:is(:hover, :focus-visible) {
				opacity: 1;
			}

			&:active {
				opacity: 0.8;
			}
		}
	}

	label {
		&[x-field] {
			display: flex;
			flex-direction: column;
			gap: var(--pad);
		}

		> span {
			user-select: none;
		}
	}
}

