
@layer common {
	h1 {
		font-size: 2.5em;
		font-weight: bolder;
		color: var(--bold);
	}

	h2 {
		font-size: 2em;
		font-weight: lighter;
		color: var(--text);
	}

	.appnav {
		display: flex;
		justify-content: end;
		flex-wrap: wrap;
	}

	button {
		font: inherit;
		color: currentColor;
		cursor: default;
		padding: var(--pad);
		border: 1px solid currentColor;
		background: transparent;
		user-select: none;
		font-weight: bold;
		/* text-decoration: underline; */

		&[data-vibe~="naked"] {
			border: none;
		}

		&[data-vibe~="lame"] {
			color: var(--lame);
		}

		&[data-vibe~="happy"] {
			color: var(--happy);
		}

		&[data-vibe~="angry"] {
			color: var(--angry);
		}

		&[disabled] {
			opacity: 0.2;
			text-decoration: line-through;
		}

		&:not([disabled]) {
			opacity: 0.8;
			cursor: pointer;

			&:is(:hover, :focus-visible) {
				opacity: 1;
			}

			&:active {
				opacity: 0.8;
			}
		}
	}

	label > span {
		user-select: none;
	}
}

