
@layer page {
	html, body {
		font-size: 18px;
		font-family: sans-serif;
		min-height: 100%;
	}

	html {
		--tint: #1112;
		background: linear-gradient(to bottom, var(--tint), var(--tint)), var(--bg) url("/assets/1dea2105.avif") center center / cover;
		color: var(--text);
		text-shadow: var(--text-shadow);
	}

	body {
		display: flex;
		flex-direction: column;

		margin: 1em auto;
		gap: var(--padding);

		text-align: center;
		border-radius: var(--round);
	}

	header, footer, small {
		opacity: 0.5;
	}
}

