
@layer vars {
	:root {
		--bg: #06141d;
		--text: color-mix(in lch, var(--alpha), white 50%);
		--text-shadow: 0.1em 0.1em 0.1em #0004;
		--selection: white;
		--selection-bg: color-mix(in oklch, transparent, var(--secret) 90%);

		--pad: 0.5em;
		--space: 1em;
		--round: 0.5em;
		--anim: 200ms;

		--link: cyan;
		--prime: lime;
		--alpha: #00ff93;
		--secret: #f90;

		--input: #eee;
		--input-bg: #3338;

		--happy: #0f0;
		--sad: #0af;
		--lame: #888;
		--angry: #f00;
	}
}

